.fuente{
    font-family: 'Indie Flower', cursive;
    
}
.fondo{
    background: rgb(135,72,44);
    background: linear-gradient(90deg, rgba(135,72,44,1) 100%, rgba(233,135,14,1) 100%);
}
.fondobanner{
    background-image: url("img/thumb.png");
    height: 600px;
    background-attachment: fixed;
    background-position: top center;
}